<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% for file_name in get_flashed_messages(category_filter=['file_name']) %}
    <img src="{{ url_for('serve_image', filename=file_name) }}" alt="Image" height="200px">
{% endfor %}

{% with messages = get_flashed_messages(category_filter=['error','success']) %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}


<form action="/file/upload" method="POST"
      enctype="multipart/form-data">
    {{ form.csrf_token }}
    <input type="file" name="file"/>
    <input type="submit"/>
</form>
</body>
</html>